body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #F8F9FA;
  color: #212529;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin-top: 0;
}
